extends layout
block content
  .row
    col-md-8
      h1 Hej! Jag är en bot!
         
         textarea(readonly)
         p 
         input(type='text' id='txt')
         span &nbsp;
         button(class="btn" type="button" class="btn btn-warning") Skicka